# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variable files
.env

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
